In [27]:
import pandas as pd

In [37]:
data_prices_final = {
    'Stock': ['INFY', 'HDFCBANK', 'TCS', 'RELIANCE', 'ICICIBANK'],
    'Date': ['2024-01-02', '2024-02-03', '2024-03-04', '2024-04-05', '2024-01-06'],
    'Sector': ['IT','Banking','IT','Communication','Banking'],
    'Price': [1530, 1680, 3200, 2480, 950]
}

In [38]:
df_final = pd.DataFrame(data_prices_final)

df_final

       Stock        Date         Sector  Price
0       INFY  2024-01-02             IT   1530
1   HDFCBANK  2024-02-03        Banking   1680
2        TCS  2024-03-04             IT   3200
3   RELIANCE  2024-04-05  Communication   2480
4  ICICIBANK  2024-01-06        Banking    950

In [30]:
df_final['Date'] = pd.to_datetime(df_final['Date'])

In [33]:
df_final.set_index('Date', inplace = True)

df_final

                Stock  Price
Date
2024-01-02       INFY   1530
2024-02-03   HDFCBANK   1680
2024-03-04        TCS   3200
2024-04-05   RELIANCE   2480
2024-01-06  ICICIBANK    950

In [34]:
df_final['Price'].resample('ME').sum()

Date
2024-01-31    2480
2024-02-29    1680
2024-03-31    3200
2024-04-30    2480
Freq: ME, Name: Price, dtype: int64

In [39]:
df_final['Sector'] = df_final['Sector'].astype('category')

df_final

       Stock        Date         Sector  Price
0       INFY  2024-01-02             IT   1530
1   HDFCBANK  2024-02-03        Banking   1680
2        TCS  2024-03-04             IT   3200
3   RELIANCE  2024-04-05  Communication   2480
4  ICICIBANK  2024-01-06        Banking    950

In [41]:
df_final['Sector'].cat.categories

Index(['Banking', 'Communication', 'IT'], dtype='object')