In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('/Users/Rakshit.Lodha/desktop/10k_Poplar_Tv_Shows.csv')

In [6]:
df = pd.DataFrame(data)

df

,adult,backdrop_path,genre_ids,id,origin_country,original_language,original_name,overview,popularity,poster_path,first_air_date,name,vote_average,vote_count
0,False,/iHSwvRVsRyxpX7FE7GbviaDvgGZ.jpg,"[10765, 9648, 35]",119051,['US'],en,Wednesday,"Smart, sarcastic and a little dead inside, Wed...",318.7812,/36xXlhEpQqVVPuiZhfoQuaY4OlA.jpg,2022-11-23,Wednesday,8.392,9781
1,False,/jCcSS9iDpKgll8Kpp7qVhSn0l1f.jpg,[18],194766,['US'],en,The Summer I Turned Pretty,"Every summer, Belly and her family head to the...",266.2929,/xBIz53wYWsKfFpN0TaizVAjKJ0z.jpg,2022-06-16,The Summer I Turned Pretty,8.173,956
2,False,/biIBy2LPOOtGCgUYOls3dUEWU3v.jpg,"[10765, 18]",157239,['US'],en,Alien: Earth,When the mysterious deep space research vessel...,229.4961,/yueXS3q8BtoWekcHOATFHicLl3e.jpg,2025-08-12,Alien: Earth,7.708,427
3,False,/aSGSxGMTP893DPMCvMl9AdnEICE.jpg,"[80, 18, 9648]",1405,['US'],en,Dexter,"Dexter Morgan, a blood spatter pattern analyst...",194.8342,/q8dWfc4JwQuv3HayIZeO84jAXED.jpg,2006-10-01,Dexter,8.215,4900
4,False,/oRdc2nn7jLOYy4fBdvmFKPsKzZE.jpg,"[80, 18, 9648]",2734,['US'],en,Law & Order: Special Victims Unit,"In the criminal justice system, sexually-based...",174.1633,/34O6znqnLHAa19mZrQB0sxTDGzH.jpg,1999-09-20,Law & Order: Special Victims Unit,7.936,4010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,/qvKGzaAAvwo2gsn7CIMk77Z8wVp.jpg,"[16, 35]",13531,"['AU', 'GB', 'US']",en,The Beatles,The Beatles is an American animated television...,2.9645,/gvkbpEK7WbF0uGyuhCaRnwuYyyX.jpg,1965-09-25,The Beatles,5.300,10
9996,False,/uvEL3oA7NZfSbEWIqepmYl1kiFR.jpg,[10764],73068,['KR'],ko,비긴어게인,A variety show gathering some of Korea’s best ...,2.8724,/auRCHtuXwk4OJdir58NFmWOewsT.jpg,2017-06-25,Begin Again,8.000,8
9997,False,NaN,[35],12146,['GB'],en,Shelley,"James Shelley, an educated, sardonic, permanen...",4.5563,/c40fcAxgv9fYSttMN4SCcYAeijl.jpg,1979-07-12,Shelley,8.000,9
9998,False,/lHupHyCG7t4xcJKA60WRpzzYRkR.jpg,[10764],91678,['KR'],ko,퀸덤,A musical battle between 6 trending girl group...,3.4961,/l8zn50A7P7CqCFT3a1Q18u3Uwve.jpg,2019-08-29,Queendom,7.500,13
9999,False,/fCfzB8DSiFFu7axc27t2FPfa2iz.jpg,[99],15716,['GB'],en,Equinox,Equinox was a long-running Channel 4 popular s...,2.8801,/mFkpezZSQzAphYo23945YPgGTWD.jpg,1986-07-31,Equinox,6.500,2

In [7]:
df.pivot_table(values = 'id', index = 'adult', aggfunc = 'count')

          id
adult
False  10000

In [20]:
language_pivot = df.pivot_table(values = 'id', index = 'original_language', aggfunc = 'count')

In [49]:
bins = [0,5,7,10]
labels = ['Low', 'Average', 'High']

df['Vote_Group'] = pd.cut(df['vote_average'], bins = bins, labels = labels, right = True)

pivot_vote_group = pd.pivot_table(df, values = 'id', index = 'Vote_Group', aggfunc = 'count', observed = False)

pivot_vote_group['% of total'] = (pivot_vote_group['id']/pivot_vote_group['id'].sum())*100

pivot_vote_group = pivot_vote_group.reset_index()

In [48]:
bins = [0, 100, 200, 350]

label = ['Low', 'Average', 'High']

df['popularity_group'] = pd.cut(df['popularity'], bins = bins, labels = labels, right = True)

pivot_popularity = pd.pivot_table(df, values = 'id', index = 'popularity_group', aggfunc = 'count', observed = False)

pivot_popularity['% of total'] = (pivot_popularity['id']/pivot_popularity['id'].sum())*100

pivot_popularity = pivot_popularity.reset_index()

In [76]:
vote = pivot_vote_group['% of total']
popularity = pivot_popularity['% of total']

df_vote = pd.DataFrame(vote)
df_popularity = pd.DataFrame(popularity)

merged_df = pd.concat([df_vote, df_popularity], axis = 1)

merged_df.columns = ['Vote%', 'Popularity%']

# order = ['Low','Average','High']

# merged_df = merged_df.reindex(order)

merged_df
# df_compare = pd.DataFrame()

       Vote%  Popularity%
0   6.888671        99.81
1  33.224508         0.16
2  59.886821         0.03