In [19]:
import requests

In [20]:
import pandas as pd

In [29]:
import time

In [110]:
api_key = 'e1bd8bee9a38421587b9c4ae13bdc062'

In [106]:
def lat_long_finder():

    cities = ["Delhi", "Gurugram", "Mumbai", "Chennai", "Bengaluru", "Hyderabad", 
              "Kolkata", "Pune", "Jaipur", "Ahmedabad", "Lucknow", "Surat", 
              "Chandigarh", "Bhopal", "Indore", "Patna", "Coimbatore", 
              "Kochi", "Nagpur", "Visakhapatnam"]
    
    result = []

    url = 'https://api.openweathermap.org/geo/1.0/direct'

    for city in cities:
        params = {
            'q' : city,
            'limit': 1,
            'appid' : api_key
        }
        coordinates = requests.get(url,params)

        data = coordinates.json()

        result.append(data[0])
        

    df = pd.DataFrame(result)

    return df.to_csv("latitude_longitude_date.csv", index = False)

In [107]:
lat_long_finder()

In [108]:
coordinate_data = pd.read_csv("latitude_longitude_date.csv")

coordinate_data

,name,local_names,lat,lon,country,state
0,Delhi,"{'he': 'דלהי', 'ne': 'दिल्ली', 'ko': '델리', 'fa...",28.651718,77.221939,IN,Delhi
1,Gurugram,"{'pa': 'ਗੁਰੂਗ੍ਰਾਮ', 'fa': 'گورگان', 'ml': 'ഗുര...",28.464615,77.029919,IN,Haryana
2,Mumbai,"{'ml': 'മുംബൈ', 'ru': 'Мумбаи', 'or': 'ମୁମ୍ବାଇ...",19.078545,72.878176,IN,Maharashtra
3,Chennai,"{'ko': '첸나이', 'te': 'చెన్నై', 'ja': 'チェンナイ', '...",13.083694,80.270186,IN,Tamil Nadu
4,Bengaluru,"{'be': 'বেঙ্গালূরু', 'mr': 'बंगळूर', 'fr': 'Ba...",12.976794,77.590082,IN,Karnataka
5,Hyderabad,"{'en': 'Hyderabad', 'zh': '海得拉巴', 'ja': 'ハイデラバ...",17.360589,78.474061,IN,Telangana
6,Kolkata,"{'ks': 'کَلٕکَتا', 'sd': 'ڪلڪتو', 'fa': 'کلکته...",22.541418,88.357691,IN,West Bengal
7,Pune,"{'ml': 'പൂണെ', 'te': 'పూణే', 'mr': 'पुणे शहर',...",18.521428,73.854454,IN,Maharashtra
8,Jaipur,"{'eo': 'Ĝajpuro', 'he': ""ג'איפור"", 'pa': 'ਜੈਪੁ...",26.915458,75.818982,IN,Rajasthan
9,Ahmedabad,"{'pl': 'Ahmadabad', 'de': 'Ahmedabad', 'ur': '...",23.021624,72.579707,IN,Gujarat
10,Lucknow,"{'te': 'లక్నో', 'ne': 'लखनऊ', 'ar': 'لكنو', 't...",26.838100,80.934600,IN,Uttar Pradesh
11,Surat,"{'fr': 'Surat', 'uk': 'Сюра'}",45.938300,3.255300,FR,Auvergne-Rhône-Alpes
12,Chandigarh,"{'ko': '찬디가르', 'de': 'Chandigarh', 'zh': '昌迪加尔...",30.733442,76.779714,IN,NaN
13,Bhopal,"{'zh': '博帕尔', 'cs': 'Bhópál', 'te': 'భోపాల్', ...",23.258486,77.401989,IN,Madhya Pradesh
14,Indore,"{'el': 'Ιντόρ', 'be': 'Індаур', 'pa': 'ਇੰਦੌਰ',...",22.720362,75.868200,IN,Madhya Pradesh
15,Patna,"{'ps': 'پټنا', 'te': 'పాట్నా', 'ks': 'پٹنہ', '...",25.609324,85.123525,IN,Bihar
16,Coimbatore,"{'te': 'కోయంబత్తూరు', 'mr': 'कोईम्बतूर', 'ur':...",11.001812,76.962842,IN,Tamil Nadu
17,Kochi,"{'ar': 'كوتشي', 'uk': 'Кочі', 'ja': 'コーチ', 'ps...",9.931308,76.267414,IN,Kerala
18,Nagpur,"{'ru': 'Нагпур', 'ps': 'ناگپور', 'uk': 'Наґпур...",21.149813,79.082056,IN,Maharashtra
19,Visakhapatnam,"{'en': 'Visakhapatnam', 'ru': 'Вишакхапатнам',...",17.723128,83.301284,IN,Andhra Pradesh

In [78]:
def city_data():

    coord_data = []

    for index,row in coordinate_data.iterrows():
        lat = row['lat']
        lon = row['lon']

        coord_data.append((lat,lon))

    return coord_data

In [79]:
city_data()

[(28.6517178, 77.2219388),
 (28.4646148, 77.0299194),
 (19.0785451, 72.878176),
 (13.0836939, 80.270186),
 (12.9767936, 77.590082),
 (17.360589, 78.4740613),
 (22.5414185, 88.35769124388872),
 (18.521428, 73.8544541),
 (26.9154576, 75.8189817),
 (23.0216238, 72.5797068),
 (26.8381, 80.9346001),
 (45.9383, 3.2553),
 (30.7334421, 76.7797143),
 (23.2584857, 77.401989),
 (22.7203616, 75.8681996),
 (25.6093239, 85.1235252),
 (11.0018115, 76.9628425),
 (9.931308, 76.2674136),
 (21.1498134, 79.0820556),
 (17.7231276, 83.3012842)]

In [111]:
def weather_data():

    city_coord = city_data()
    
    weather_url = 'https://api.openweathermap.org/data/2.5/weather'

    result_weather = []

    for i in city_coord:
        x = 0
        y = 1
        params = {
            'lat': i[x],
            'lon': i[y],
            'appid': api_key
        }

        weather = requests.get(weather_url,params)

        weather_data = weather.json()

        result_weather.append(weather_data)

        x +=1
        y +=1

    df_weather = pd.DataFrame(result_weather)

    return df_weather

In [112]:
weather_data()

,coord,weather,base,main,visibility,wind,clouds,dt,sys,timezone,id,name,cod
0,"{'lon': 77.2219, 'lat': 28.6517}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 297.45, 'feels_like': 296.38, 'temp_m...",10000,"{'speed': 2.59, 'deg': 303, 'gust': 3.66}",{'all': 0},1762490520,"{'country': 'IN', 'sunrise': 1762477650, 'suns...",19800,1273294,Delhi,200
1,"{'lon': 77.0299, 'lat': 28.4646}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 297.13, 'feels_like': 296.03, 'temp_m...",10000,"{'speed': 2.85, 'deg': 301, 'gust': 3.72}",{'all': 0},1762490701,"{'country': 'IN', 'sunrise': 1762477679, 'suns...",19800,1270642,Gurgaon,200
2,"{'lon': 72.8774, 'lat': 19.076}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 301.15, 'feels_like': 304.36, 'temp_m...",1500,"{'speed': 2.57, 'deg': 140}",{'all': 75},1762490424,"{'type': 1, 'id': 9052, 'country': 'IN', 'sunr...",19800,8131499,Konkan Division,200
3,"{'lon': 80.2702, 'lat': 13.0837}","[{'id': 701, 'main': 'Mist', 'description': 'm...",stations,"{'temp': 302.65, 'feels_like': 309.65, 'temp_m...",4000,"{'speed': 3.58, 'deg': 15, 'gust': 4.47}",{'all': 75},1762490746,"{'type': 2, 'id': 2092109, 'country': 'IN', 's...",19800,1465730,Park Town,200
4,"{'lon': 77.5901, 'lat': 12.9768}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 297.49, 'feels_like': 297.89, 'temp_m...",6000,"{'speed': 4.47, 'deg': 58, 'gust': 15.2}",{'all': 75},1762490560,"{'type': 2, 'id': 2105374, 'country': 'IN', 's...",19800,6695236,Kanija Bhavan,200
5,"{'lon': 78.4741, 'lat': 17.3606}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 300.34, 'feels_like': 301.02, 'temp_m...",6000,"{'speed': 5.14, 'deg': 50, 'gust': 10.29}",{'all': 1},1762490622,"{'type': 1, 'id': 9214, 'country': 'IN', 'sunr...",19800,1269843,Hyderabad,200
6,"{'lon': 88.3577, 'lat': 22.5414}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 302.11, 'feels_like': 304.27, 'temp_m...",2600,"{'speed': 4.12, 'deg': 350}",{'all': 0},1762490582,"{'type': 1, 'id': 9114, 'country': 'IN', 'sunr...",19800,1277155,Bara Bazar,200
7,"{'lon': 73.8502, 'lat': 18.5211}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 300.98, 'feels_like': 301.25, 'temp_m...",10000,"{'speed': 3.06, 'deg': 79, 'gust': 3.82}",{'all': 9},1762490729,"{'type': 2, 'id': 2096426, 'country': 'IN', 's...",19800,1259229,Pune,200
8,"{'lon': 75.82, 'lat': 26.92}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 296.12, 'feels_like': 294.79, 'temp_m...",10000,"{'speed': 2.54, 'deg': 322, 'gust': 3.65}",{'all': 0},1762490495,"{'country': 'IN', 'sunrise': 1762477834, 'suns...",19800,1269515,Jaipur,200
9,"{'lon': 72.5797, 'lat': 23.0216}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 297.19, 'feels_like': 296.85, 'temp_m...",3000,"{'speed': 4.63, 'deg': 70}",{'all': 1},1762490566,"{'type': 1, 'id': 9049, 'country': 'IN', 'sunr...",19800,1279233,Ahmedabad,200
10,"{'lon': 80.9346, 'lat': 26.8381}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 297.88, 'feels_like': 297.09, 'temp_m...",10000,"{'speed': 2.88, 'deg': 285, 'gust': 3.2}",{'all': 0},1762490577,"{'country': 'IN', 'sunrise': 1762476598, 'suns...",19800,1264733,Lucknow,200
11,"{'lon': 3.2553, 'lat': 45.9383}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 281.23, 'feels_like': 280.05, 'temp_m...",10000,"{'speed': 2.06, 'deg': 330}",{'all': 0},1762490724,"{'type': 1, 'id': 6496, 'country': 'FR', 'sunr...",3600,2979447,Saint-Ignat,200
12,"{'lon': 76.7797, 'lat': 30.7334}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 296.08, 'feels_like': 295.39, 'temp_m...",10000,"{'speed': 2.15, 'deg': 286, 'gust': 1.84}",{'all': 0},1762490792,"{'country': 'IN', 'sunrise': 1762477946, 'suns...",19800,1274746,Chandigarh,200
13,"{'lon': 77.402, 'lat': 23.2585}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 296.14, 'feels_like': 295.23, 'temp_m...",4000,"{'speed': 1.54, 'deg': 50}",{'all': 0},1762490792,"{'type': 1, 'id': 9063, 'country': 'IN', 'sunr...",19800,1275841,Bhopal,200
14,"{'lon': 75.8682, 'lat': 22.7204}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 297.21, 'feels_like': 296.74, 'temp_m...",5000,"{'speed': 3.09, 'deg': 20}",{'all': 0},1762490792,"{'type': 1, 'id': 9067, 'country': 'IN', 'sunr...",19800,1269743,Indore,200
15,"{'lon': 85.1235, 'lat': 25.6093}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 299.12, 'feels_like': 299.12, 'temp_m...",3500,"{'speed': 3.09, 'deg': 270}",{'all': 0},1762490792,"{'type': 1, 'id': 9129, 'country': 'IN', 'sunr...",19800,1260086,Patna,200
16,"{'lon': 76.9616, 'lat': 11.0046}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 302.01, 'feels_like': 304.72, 'temp_m...",5000,"{'speed': 2.06, 'deg': 200}",{'all': 20},1762490715,"{'type': 1, 'id': 9206, 'country': 'IN', 'sunr...",19800,1273865,Coimbatore,200
17,"{'lon': 76.2674, 'lat': 9.9313}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 302.16, 'feels_like': 305.9, 'temp_mi...",10000,"{'speed': 3.96, 'deg': 326, 'gust': 4.59}",{'all': 100},1762490793,"{'type': 1, 'id': 9211, 'country': 'IN', 'sunr...",19800,1273874,Kochi,200
18,"{'lon': 79.0821, 'lat': 21.1498}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 298.04, 'feels_like': 297.81, 'temp_m...",5000,"{'speed': 1.54, 'deg': 50}",{'all': 0},1762490783,"{'type': 1, 'id': 9069, 'country': 'IN', 'sunr...",19800,1262180,Nagpur,200
19,"{'lon': 83.3013, 'lat': 17.7231}","[{'id': 721, 'main': 'Haze', 'description': 'h...",stations,"{'temp': 303.18, 'feels_like': 304.91, 'temp_m...",4000,"{'speed': 4.12, 'deg': 340}",{'all': 40},1762490793,"{'type': 1, 'id': 9255, 'country': 'IN', 'sunr...",19800,1279008,Alipur,200

In [113]:
weather_url = 'https://api.openweathermap.org/data/2.5/weather'
params = {
            'lat': 28.6517178,
            'lon': 77.2219388,
            'appid': api_key
        }

weather = requests.get(weather_url,params)

weather.json()

{'coord': {'lon': 77.2219, 'lat': 28.6517},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 297.45,
  'feels_like': 296.38,
  'temp_min': 297.45,
  'temp_max': 297.45,
  'pressure': 1016,
  'humidity': 17,
  'sea_level': 1016,
  'grnd_level': 990},
 'visibility': 10000,
 'wind': {'speed': 2.59, 'deg': 303, 'gust': 3.66},
 'clouds': {'all': 0},
 'dt': 1762490520,
 'sys': {'country': 'IN', 'sunrise': 1762477650, 'sunset': 1762516926},
 'timezone': 19800,
 'id': 1273294,
 'name': 'Delhi',
 'cod': 200}