In [16]:
email = "rakshit@domain.com"
email[0]+len(email[-17:-12])*"*"+email[-12]+"@domain.com"

'r*****t@domain.com'

In [22]:
email = "rakshit@domain.com"

split_email = email.split("@")

split_email_1 = (len(split_email[0])-2)*"*"

split_email_2 = split_email[1]

masked_email = split_email[0][0] + split_email_1 + split_email[0][-1] +"@" + split_email_2

print(masked_email)

r*****t@domain.com

In [24]:
name = "RAKSHIT"

name.lower()

'rakshit'

In [35]:
state = " Hello, Rakshit "

new_state = state.strip()

print(new_state.lower())

hello, rakshit

In [39]:
title = "product-manager"

title_split = title.split("-")[0] + " | " + title.split("-")[1]

print(title_split)

product | manager

In [54]:
word = "Pythone"

remainder = len(word) % 2
remainder_odd = len(word)-1

if remainder == 0:
    print(word[len(word)//2] + word[len(word)//2-1])
else:
    print(word[remainder_odd//2])

h

In [59]:
input = "rakshit lodha"

split_view = input.split(" ")

joined_view = split_view[0][0].upper() +"." + split_view[1][0].upper() + "."

print(joined_view)

R.L.

In [72]:
str = "This   has   extra   spaces"

" ".join(str.split())

'This has extra spaces'

In [8]:
str = "This bad habit is bad but badminton is good"

str_split_1 = (str.split(" ")[1]).replace(str.split(" ")[1],"***")
str_split_2 = (str.split(" ")[4]).replace(str.split(" ")[4],"***")

final = str.split(" ")[0] + str_split_1 + str.split(" ")[2] + str.split(" ")[3] + str_split_2 + str.split(" ")[5] + str.split(" ")[6]

print(final)

This***habitis***butbadminton

In [2]:
email = "  First.Last+promo@Example.COM  "

split_1 = email.split("@")[-1].lower()
split_2 = (email.split("@")[0]).split("+")[0].lower()
split_3 = split_2 +"@" +split_1

joined_view = ''.join(split_3.split())

print(joined_view)

first.last@example.com

In [22]:
user = {"name": "Rakshit", "role": "PM"}

user["company"] = "ET Money"

user.popitem()


print(user)

{'name': 'Rakshit', 'role': 'PM'}

In [30]:
product = {"name": "Notebook", "price": 299, "stock": 12}
# a) get the price using direct indexing
product.get("price")

# b) safely get a "discount" key with default 0 using .get
product["discount"] = 0
print(product)

product.get("discount")

# c) add a "category" = "Stationery", then print the dict
product["category"] = "Stationery"
print(product)

{'name': 'Notebook', 'price': 299, 'stock': 12, 'discount': 0}
{'name': 'Notebook', 'price': 299, 'stock': 12, 'discount': 0, 'category': 'Stationery'}

In [1]:
product = {"name": "Notebook", "price": 299, "stock": 12}


# a) get the price using direct indexing

print(product["name"])

# b) safely get a "discount" key with default 0 using .get
print(product.get("discount",0))

print("name" in product)

# c) add a "category" = "Stationery", then print the dict

Notebook
0
True

In [12]:
product = {"name": "Notebook", "price": 299, "stock": 12, "category": "Stationery"}

#Update the "price" to 349.
product.update({"price": 349})

print(product)

# Add two more keys at once — "brand": "Camlin" and "rating": 4.5" — using .update().

product.update({"brand": "camline", "rating": 4.5})
print(product)

#Remove "stock" safely (no error if it’s missing).

product.pop("stock", 0)
print(product)

{'name': 'Notebook', 'price': 349, 'stock': 12, 'category': 'Stationery'}
{'name': 'Notebook', 'price': 349, 'stock': 12, 'category': 'Stationery', 'brand': 'camline', 'rating': 4.5}
{'name': 'Notebook', 'price': 349, 'category': 'Stationery', 'brand': 'camline', 'rating': 4.5}

In [35]:
student = {
    "name": "Anita",
    "grade": 10,
    "marks": {
        "math": 88,
        "science": 92,
        "english": 81
    }
}


#Access the student’s science mark and print it.
print(student["marks"]["science"])
print((student.get("marks")).get("science"))

#Update the English mark to 90.
student["marks"].update({"english": 90})

print(student.get("marks"))

#Add a new subject "history": 85.
student["marks"].update({"history": 85})

print(student)

#Print the final dictionary.
print(student)

92
92
{'math': 88, 'science': 92, 'english': 90}
{'name': 'Anita', 'grade': 10, 'marks': {'math': 88, 'science': 92, 'english': 90, 'history': 85}}
{'name': 'Anita', 'grade': 10, 'marks': {'math': 88, 'science': 92, 'english': 90, 'history': 85}}

In [43]:
t = ("Rakshit", 30, {"city": "Jaipur"})
# A) Print the name (index it)
print(t[0])

# B) Change the city to "Mumbai" (mutate the inner dict), then print t
t[2].update({"city": "Mumbai"})

Rakshit
('Rakshit', 30, {'city': 'Mumbai'})

In [48]:
student = {
    "name": "Anita",
    "grade": 10,
    "marks": {"math": 88, "science": 92, "english": 90}
}

li = student.get("marks")

print(li)

li_1 = list(li.items())
print(li_1)

li_1.append(("physics", 100))

print(li_1)
back_dic = dict(li_1)
print(back_dic)

{'math': 88, 'science': 92, 'english': 90}
[('math', 88), ('science', 92), ('english', 90)]
[('math', 88), ('science', 92), ('english', 90), ('physics', 100)]
{'math': 88, 'science': 92, 'english': 90, 'physics': 100}

In [54]:
(a,b) = 10,20

(a,b) = (b,a)
print((a,b))

(20, 10)

In [58]:
names = ["rakshit", "anita", "rakshit", "mukesh", "anita"]

name_1 = sorted(set(names))

print(name_1)

['anita', 'mukesh', 'rakshit']

In [79]:
A = {"python", "sql", "excel", "git"}
B = {"python", "pandas", "git", "jira"}

set_a = set(A)
set_b = set(B)

print(set_a)
print(set_b)

#Skills in both A and B (intersection)
set_c = set_a & set_b
print(set_c)

#Skills in either A or B (union)
set_d = set_a | set_b
print(set_d)

#Skills in A but not in B (difference)
set_e = set_a - set_b
print(set_e)

#Skills in exactly one of the sets (symmetric diff)
set_f = set_a ^ set_b
print(set_f)

print(bool(set_a <= set_b))
print(bool(set_a >= set_b))
print(bool(set_a & set_b))


print(bool({"python", "git"} <= set_a))
print(bool({"python", "git", "excel"} <= set_b))
print(sorted(set_f))

{'excel', 'python', 'sql', 'git'}
{'git', 'python', 'jira', 'pandas'}
{'git', 'python'}
{'git', 'python', 'jira', 'sql', 'excel', 'pandas'}
{'excel', 'sql'}
{'jira', 'sql', 'excel', 'pandas'}
False
False
True
True
False
['excel', 'jira', 'pandas', 'sql']

In [54]:
score = 59

if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >=70:
    grade = "C"
elif score >=60:
    grade = "D"
else:
    grade = "F"

print(grade)

f

In [55]:
n = 27

if n%2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [57]:
n = 27
parity = "Even" if n%2 == 0 else "Odd"

print(parity)

Odd

In [59]:
num = list(range(5,15,2))

print(num)

[5, 7, 9, 11, 13]

In [61]:
text = "Product Manager"
has_pm = "pm" in text.lower()

print(has_pm)

False

In [62]:
skills = ["python","sql","git"]
print(list(enumerate(skills)))

[(0, 'python'), (1, 'sql'), (2, 'git')]

In [65]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

In [67]:
num = list(range(1,6))

for i in num:
    print(i)

1
2
3
4
5

In [72]:
num = list(range(1,11))

for i in num:
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [73]:
for i in range(1,11):
    if i<5:
        print(i)
    elif i==5:
        continue
    elif i<8:
        print(i)
    elif i==8:
        break

1
2
3
4
6
7

In [77]:
nums = [3, 6, 9, 12]
target = 7

for i in nums:
    if i == target:
        print("You belong here")
        break
else:
    print("You don't belong here")

You don't belong here

In [91]:
nums = [12, 47, 51, 38, 64, 29]

for num in nums:
    if num > 50 and num %2 == 0:
        print("found: " + str(num))
        break
else:
     print("No")

found: 64

In [95]:
nums = [12, 47, 51, 38, 64, 29]
found = any(x>50 and x%2 ==0 for x in nums )
print(found)

True

In [125]:
nums = [12, 47, 51, 38, 64, 29]

hits = []

for i in nums:
    if i <50 and i%2 == 0:
        hits.append(i)

print(hits)

[12, 38]

In [133]:
nums = [3, -2, 7, 0, -5, 10]

positive = []

for i in nums:
    if i > 0:
        y = i*i
        positive.append(y)

print(positive)

total = 0

for p in positive:
    total += p

print(total)

[9, 49, 100]
158

In [137]:
nums = [3, -2, 7, 0, -5, 10]

positive = []
total = 0

for i in nums:
    if i > 0:
        y = i*i
        positive.append(y)
        total += y
print(total)

[9, 49, 100]
158

In [ ]:
*
**
***
****
*****

In [143]:
words = [" python ", "Data", "pip", "set", "Pandas"]
clean = []

for i in words:
    y = i.strip()
    x = y.lower()
    clean.append(x)

print(clean)

['python', 'data', 'pip', 'set', 'pandas']

In [148]:
i = 6

while i > 1:
    i -=1
    print(i)

print("Go")

5
4
3
2
1
Go

In [182]:
data = [3, 5, 9, -1, 7, 8]

# while i < len(data) and data[i]>0:
#     print(i)

# Print each number until you hit a negative, then stop (don’t print the negative or anything after).

for i in data:
    if i >0:
        print(i)
    else:
        break

3
5
9

In [176]:
data = [3, 5, 9, -1, 7, 8]

i = 0

while i<=len(data) and data[i] >0:
    print(data[i])
    i +=1

3
5
9

In [185]:
# Given nums = [4, 9, 12, 7, 18, 3], use while to find the index of the first number divisible by 3. If none, print -1.


nums = [4, 9, 12, 7, 18, 3]

for i in nums:
    if i%3 == 0:
        print(i)
        break

9

In [16]:
nums = [5, 7, 13, 7, 19, 2]

i = 0

while i < len(nums):
    if nums[i] % 3 == 0:
        print(nums[i])
        break
    i +=1
else:
    print(-1)

-1

In [40]:
s = "Room 21 on 3 rd floor, code 9042"

words = s.split()

print(words)

x = 0

for i in words:
    if i.isdigit() == True:
        x +=1

print(x)

['Room', '21', 'on', '3', 'rd', 'floor,', 'code', '9042']
3

In [48]:
s = "Room 21 on 3 rd floor, code 9042"

x = 0
i = 0

while i < len(s):
    if s[i].isdigit() == True:
        x+=1
    i +=1

print(x)

7

In [1]:
num = 10

ans = 1

while num>1:
    ans *= num
    num = num - 1
    
print(ans)

3628800

In [18]:
word = "python"
rev = ""
i = len(word) - 1

while i>=0:
    letter = word[i]
    rev = rev + letter
    i = i - 1

print(rev)

nohtyp

In [25]:
word = "python"
rev = ""
i = len(word)-1

while i>=0:
    letter = word[i]
    rev = rev + letter
    i = i - 1

print(rev)

nohtyp

In [65]:
word = "python"
positions = []

for i in word:
    if len(word)>=0:
        positions.append(i)

enumerate_list = list(enumerate(positions))
print(enumerate_list)

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [77]:
word = "python"
positions = []

i = 0

while len(word)>=0 and i < len(word):
    positions.append(word[i])
    i += 1

print(list(enumerate(positions)))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [78]:
word = "python"
positions = []

for i in word:
    if len(word)>=0:
        positions.append(i)

enumerate_list = list(enumerate(positions))
print(enumerate_list)

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [83]:
# target shape: {'p': 0, 'y': 1, 't': 2, 'h': 3, 'o': 4, 'n': 5}
positions = {}
x = 0

for i in word:
    if len(word)>=0:
        positions.update({i:x})
        x +=1

print(positions)

{'p': 0, 'y': 1, 't': 2, 'h': 3, 'o': 4, 'n': 5}

In [89]:
word = "banana"
positions = {}

i = 0
x = 0

while len(word)>=0 and i < len(word):
    letter = word[i]
    positions.update({letter:x})
    i += 1
    x += 1

print(positions)
# print(list(enumerate(positions)))

{'b': 0, 'a': 5, 'n': 4}

In [95]:
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

In [97]:
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [98]:
i = 1

while i<=5:
    print(i*"*")
    i +=1

*
**
***
****
*****

In [106]:
i = 2

while i>=0:
    print(i*"*")
    i -= 1

**
*

In [107]:
[x*x for x in [1,2,3]]

[1, 4, 9]

In [115]:
nums = [3, -2, 7, 0, -5, 10]

nums_output = [i * i for i in nums if i > 0 and i%2 == 0]

print(nums_output)

[100]

In [119]:
emails = ["a@x.com","b@y.org","c@z.net"]

email_split = [i.split("@")[1] for i in emails]

print(email_split)

['x.com', 'y.org', 'z.net']

In [121]:
words = ["Alpha", "be", "see", "Dee"]

word_dic = {i.lower():len(i) for i in words}

print(word_dic)

{'alpha': 5, 'be': 2, 'see': 3, 'dee': 3}

In [150]:
emails = ["a@x.com","b@y.org","c@z.net","d@x.com","e@y.org","f@x.com"]

emails_split = [i.split("@")[1] for i in emails]

emails_dic = {x:sum(1 for y in email_split if y == email_split) for x in emails_split}

print(emails_dic)

{'x.com': 0, 'y.org': 0, 'z.net': 0}

In [137]:
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']

word_dic = {}

for i in words:
    if i in word_dic:
        word_dic[i] += 1
    else:
        word_dic[i] = 1

print(word_dic)

{'apple': 2, 'banana': 3, 'orange': 1}

In [147]:
emails = ["a@x.com","b@y.org","c@z.net","d@x.com","e@y.org","f@x.com"]

email_list = []

for i in emails:
    x = i.split("@")[1]
    email_list.append(x)

email_count = {}

for i in email_list:
    if i in email_count:
        email_count[i] += 1
    else:
        email_count[i] = 1

print(email_count)

{'x.com': 3, 'y.org': 2, 'z.net': 1}

In [5]:
def clips(x, lo, high):
    if x < lo:
        return lo
    elif x > high:
        return high
    else:
        return x

print(clips(5,0,10))
print(clips(-3,0,10))
print(clips(99, 0, 10))

5
0
10

In [12]:
def greet(name = "there"):
    return "Hi " + name

print(greet("Rakshit"))
print(greet())

Hi Rakshit
Hi there

In [19]:
def powerbase(base, power):
    return base ** power


print(powerbase(2,3))
print(powerbase(power=5, base=3))

8
243

In [24]:
def join3(a, b, c, sep="-"):
    return f"{a}{sep}{b}{sep}{c}"

print(join3("A","B", "C", sep = "|"))
print(join3("A","B", "C"))

A|B|C
A-B-C

In [25]:
def total(*nums):
    return sum(nums)

total(1,2,3,4)

10

In [30]:
def concat_part(*parts):
    return " ".join(parts)

concat_part("learn","python", "fast")

'learn python fast'

In [31]:
def square(n):
    return n**2

print(square(5))

25

In [33]:
def is_even(num):
    if num % 2 == 0:
        return "Its Even!"
    else:
        return "Its Odd"

print(is_even(4))

Its Even!

In [69]:
def is_vowel(word):
    x = word.lower()
    vowel = ["a", "e", "i", "o", "u"]
    y = []
    counter = 0
    for i in x:
        if len(x)>=0:
            y.append(i)

    for z in y:
        if z in vowel:
            counter += 1

    return counter
            

print(is_vowel("HEAAT"))

3

In [72]:
def greetings(name = "there"):
    return f"Hi {name}"

greetings()

'Hi there'

In [74]:
def join3(a, b, c, sep = "-"):
    return f"{a}{sep}{b}{sep}{c}"

join3(5,4,1, "|")

'5|4|1'

In [91]:
def slugify(text, sep="-"):
    
    y = sep.join((text.lower()).split())
    # x = sep.join(y)

    return f"{y}"

print(slugify(" This is test "))

this-is-test

In [92]:
def total(*nums):
    return sum(nums)

total(1,5,6)

12

In [106]:
def product(*nums):
    p = 1
    for i in nums:
        p *= i
        
    return p

print(product(2,3,4,5,6))

720

In [107]:
def concat(sep, *word):
    return sep.join(word)

print(concat(" ", "word1", "word2"))

word1 word2

In [9]:
def user_format(name, **info):
    profile = {"name":name}
    profile.update(info)
    return profile

print(user_format("Rakshit", team = "Data Science"))
print(user_format("Anita", team = "Data Science"))


#Kwargs: the **info parameter will keep on updating as and when you add other details. 
#And all will get combined into one dictionary

{'name': 'Rakshit', 'team': 'Data Science'}
{'name': 'Anita', 'team': 'Data Science'}

In [62]:
def make_query(**params):
    lis = []

    for x, y in params.items():
        pair = f"{x}={str(y)}"
        lis.append(pair)

    join = "@".join(lis)

    return join
        
print(make_query(page = 2, q = 1))

page=2@q=1

In [59]:
sample = {'page': 2, 'q': 'python tips'}

dic = []

for x,y in sample.items():
    pair = (f"{x}={str(y)}")
    dic.append(pair)

join = "&".join(dic)

print(join)

page=2&q=python tips

In [135]:
def demo(a, b=10, *args, sep = "-", **kwargs):
    test = sep.join([str(a), str(b),*map(str, args)])

    return {"text": test, "extra": kwargs}

print(demo(1))
demo(1, 2, 3, 4, sep="|")
demo(1, theme="dark", retries=3)

{'text': '1-10', 'extra': {}}

{'text': '1-10', 'extra': {'theme': 'dark', 'retries': 3}}

In [150]:
nums = [1,2,3]

it = list(map(str, nums))

print(type(it[0]))

<class 'str'>

In [151]:
def make_label(prefix, *parts, sep = '-', **style):
    label_maker = [str(prefix)] + list(map(str, parts))
    label = sep.join(label_maker)

    return {"label": label, "style": style}

print(make_label(1,2))
print(make_label("ID","123",456))

{'label': '1-2', 'style': {}}
{'label': 'ID-123-456', 'style': {}}

In [160]:
def make_label(prefix, *parts, sep = '-', **style):
    label_maker = [str(prefix)]
    for i in parts:
        y = str(i)
        label_maker.append(y)

    label = sep.join(label_maker)
    
    return {"label": label, "style": style}

print(make_label(1,2))
print(make_label("ID","123",456, sep = '|'))
print(make_label("ID", "123", color="red", size=12))

{'label': '1-2', 'style': {}}
{'label': 'ID|123|456', 'style': {}}
{'label': 'ID-123', 'style': {'color': 'red', 'size': 12}}

In [180]:
#safe_append(x, bag=None) → append x to a list; avoid mutable-default bug. Hint: if bag is None: bag = [].

def safe_append(x, bag = None):
    if bag is None:
        bag = []
    bag.append(x)
    return bag

print(safe_append(1, [10]))

[10, 1]

In [202]:
row = [(1,2), (3,4), (5,6)]

x = []
for i in row:
    y = i[0]
    x.append(y)

print(sum(x))

9

In [226]:
def table_sum(*items,col=0):
    x = []
    a = []
    for i in items:
        y = i[col]
        x.append(y)
        return sum(x)

print(table_sum((1,2,3), col = 2))

3

In [251]:
#table_sum(rows, *, col=0) → each row is a list/tuple; sum values at index col. Hint: keyword-only param via * in the signature.

def table_sum(rows, *, col = 0):
    x = []
    for row in rows:
        # print(row)
        y = row[col]
        # print(y)
        x.append(y)
    return sum(x)

rows = [(1,2),(2,3)]
print(table_sum(rows, col = 1))

5

In [234]:
rows = [(2,3), (5,7), (11,13)]

def table_sum(row, *, col=0):
    print(len(rows))

table_sum(rows)

3

In [262]:
score_report = [80,90,70,100]

min_element = min(score_report)

remove_min = score_report.remove(min_element)

print(score_report)

sum_of_nums = sum(score_report)
print(sum_of_nums)

n = len(score_report)
print(n)

mean = sum_of_nums/n
print(mean)

max_num = max(score_report)
print(max_num)

dic_score = {
    "sum": sum_of_nums,
    "n": n,
    "mean": mean,
    "max": max_num
}

print(dic_score)

[80, 90, 100]
270
3
90.0
100
{'sum': 270, 'n': 3, 'mean': 90.0, 'max': 100}

In [290]:
def score_report(*scores, drop_lowest = True, round_to = 1):
    x = list(scores)
    if drop_lowest == True:
        min_element = min(x)
        remove_min = x.remove(min_element)

        n = len(x)
        sum_nums = sum(x)
        mean = sum_nums/n
        max_num = max(x)
    else:
        n = len(x)
        sum_nums = sum(x)
        mean = sum_nums/n
        max_num = max(x)
        
    return {
        "sum": sum_nums,
        "n": n,
        "mean": round(mean, round_to),
        "max": max_num
    }

score_report(80, 95, 70, 100)

{'sum': 275, 'n': 3, 'mean': 91.7, 'max': 100}

In [288]:
x = 91.66666666666667
y = None

round(x,y)

92

In [293]:
cubed = lambda x: x**3

cubed(3)

27

In [303]:
area_triangle = lambda a,b: (a*b)/2

type(area_triangle(5,3.2))

float

In [316]:
names = ["rakshit", "kusum", "ravi", "riddhi"]

upper_name = list(map(lambda s:s.upper(), names))

print(upper_name)

['RAKSHIT', 'KUSUM', 'RAVI', 'RIDDHI']

In [320]:
nums = [3, 6, 9, 12, 15]

even = list(filter(lambda s: s%2 == 0, nums))

print(even)

#Map returns a list with for each element
#Filter returns a filtered list

[6, 12]

In [321]:
#Can you keep numbers that are multiples of 3 and greater than 5?

nums = [3, 6, 9, 12, 15]

comp = list(filter(lambda n: n%3 ==0 and n>5, nums))

print(comp)

[6, 9, 12, 15]

In [326]:
words = ["python", "is", "handy"]
result = sorted(words, key=lambda w: len(w))
print(result)

['is', 'handy', 'python']

In [329]:
result = lambda n:(n**2)-1

result(5)

24

In [406]:
safe_divide = lambda a,b: float(a/b) if b !=0 else float("Infinity")

print(safe_divide(3,0))

inf

In [408]:
word = "Python"

last_char = lambda s:s[-1] if s else ""

last_char("")

''

In [366]:
#map to their lengths

words = ["lambda", "AI", "product"]

words_map = list(map(lambda s:len(s), words))

print(words_map)

[6, 2, 7]

In [369]:
prices = [100, 250, 400]

price_gst = list(map(lambda s:s*(1.18), prices))

print(price_gst)

[118.0, 295.0, 472.0]

In [372]:
parts = ["OpenAI", "PM", "Basics"]

parts_lower = list(map(lambda s:s.lower(), parts))

print("-".join(parts_lower))

openai-pm-basics

In [376]:
nums = [-10, -5, 0, 5, 10, 11]

num_filter = list(filter(lambda s:s%5 == 0 and s >0, nums))

print(num_filter)

[5, 10]

In [405]:
raw = [" ", " ai ", "", "pm", " data"]

raw_convert = list(map(lambda s:s.strip(), raw))

remove = list(filter(None, raw_convert))

raw_convert
remove

['ai', 'pm', 'data']

In [398]:
raw = [" ", " ai ", "", "pm", " data"]

# y = []
y = []

for s in raw:
    x = s.strip()
    y.append(x)
    
filtered = list(filter(None, y))

print(filtered)

['ai', 'pm', 'data']

In [414]:
chars = list("lambda calculus")
vowels = ["a","e","i","o","u"]

remove = list(filter(lambda s:s in vowels, chars))

remove

['a', 'a', 'a', 'u', 'u']

In [415]:
words = ["python","is","handy"]

sort = list(sorted(words, key = lambda i:len(i)))

sort

['is', 'handy', 'python']

In [422]:
names = ["Ana","bob","CHRIS"]

sort = list(sorted(names, key = lambda i:i.lower()))

sort

['Ana', 'bob', 'CHRIS']

In [421]:
cities = ["Pune","Delhi","Goa","Agra"]

sort = list(sorted(cities, key = lambda i:i[-1], reverse = True))

sort

['Delhi', 'Pune', 'Goa', 'Agra']

In [1]:
words = ["ship","spaceship","car"]

sort = list(max(words, key = lambda i:len(words)))

sort

['s', 'h', 'i', 'p']

In [4]:
words = ["ship","spaceship","car"]

sort = print(max(words, key=len))

sort

spaceship

In [24]:
cand = ["","pmm","aiiii",""]

filtered = list(filter(None, cand))

filtered_1 = min(filtered, key = len)

print(filtered)

print(filtered_1)

['pmm', 'aiiii']
pmm

In [31]:
words = ["ai","lambda","product","engineering"]

vowels = ['a','e','i','o','u']

count = {}

for i in words:
    
    i.lower()
    print(i)

ai
lambda
product
engineering

In [36]:
# map to strip().title()

# filter names with length ≥ 4

# sorted alphabetically
# Print final list.

names = [" alice", "BOB ", " chris ", "deEpu"]

stripped = list(map(lambda i:i.strip(), names))

title_case = list(map(lambda x:x.title(), stripped))

name_sort = list(sorted(title_case, key = lambda x:x))

name_sort

['Alice', 'Bob', 'Chris', 'Deepu']

In [45]:
#Keep prices ≥ 100

#Map to "premium" if ≥ 500 else "standard"

#Sort labels so "premium" comes first (custom key).
#Hint: sort with key=lambda label: 0 if label=="premium" else 1.

prices = [99, 150, 499, 501, 999]

sorted_list = list(sorted(prices_map, key = lambda i:i))

sorted_list

['Premium', 'Premium', 'Standard', 'Standard', 'Standard']

In [60]:
users = [
  {"name":"Ana","age":29},
  {"name":"Bob","age":24},
  {"name":"Chris","age":33}
]

sorted_by_age = sorted(users, key = lambda i:i["age"])

sorted_by_age

[{'name': 'Bob', 'age': 24},
 {'name': 'Ana', 'age': 29},
 {'name': 'Chris', 'age': 33}]

In [72]:
products = [
  {"name":"X","rating":4.7,"price":1200},
  {"name":"Y","rating":4.7,"price":999},
  {"name":"Z","rating":4.5,"price":700}
]

sorted_rating = sorted(products, key = lambda i:(-i["rating"],i["price"]))

print(sorted_rating[0])

{'name': 'Y', 'rating': 4.7, 'price': 999}

In [74]:
people = ["sundar Pichai","satya Nadella","Susan Wojcicki"]

last = sorted(people, key = lambda i:i[-1].lower())

last

['satya Nadella', 'sundar Pichai', 'Susan Wojcicki']

In [108]:
logs = [
  {"impr": 1000, "clicks": 10},
  {"impr": 500, "clicks": 15},
  {"impr": 1000, "clicks": 1},
]

sorted_logs = list(filter(lambda i:(i["clicks"]/i["impr"])>=0.02,logs))

sorted_logs

[{'impr': 500, 'clicks': 15}]

In [101]:
products = [
  {"name": "X", "rating": 47, "price": 1200},
  {"name": "Y", "rating": 48, "price": 999},
  {"name": "Z", "rating": 45, "price": 700}
]

append_list = {}

for i in products:
    x = i["rating"]/i["price"]
    append_list.update({i["name"]: x})  


for x in products:
    x["Adjusted Value"] = append_list[x["name"]]

print(products)

[{'name': 'X', 'rating': 47, 'price': 1200, 'Adjusted Value': 0.03916666666666667}, {'name': 'Y', 'rating': 48, 'price': 999, 'Adjusted Value': 0.04804804804804805}, {'name': 'Z', 'rating': 45, 'price': 700, 'Adjusted Value': 0.06428571428571428}]

In [107]:
nums = [3, 6, 9, 12, 15]

even = list(filter(lambda s: s%2 == 0, nums))

even

[6, 12]

In [110]:
nums = [2, 5, 7, 10]

multiple = [n*2 for n in nums if n>5]

multiple

[14, 20]

In [118]:
words = ["lambda", "AI", "product"]

length = [f"{i}:{len(i)}" for i in words if len(i)>5]

length

['lambda:6', 'product:7']

In [2]:
pairs = []
for city in ["Pune", "Delhi"]:
    for letter in ["A", "B"]:
        pairs.append((city, letter))

pairs

[('Pune', 'A'), ('Pune', 'B'), ('Delhi', 'A'), ('Delhi', 'B')]

In [9]:
pair_1 = []

pair_2 = []

for city in ['Pune', 'Delhi','Agra']:
    pair_1.append(city)
    for letter in ["A", "B"]:
        if letter == city[0]:
            pair_2.append((city,letter))

pair_2

[('Agra', 'A')]

In [13]:
pairs = [(city,letter) for city in ['Pune','Delhi','Bhopal'] for letter in ['D','B'] if letter == city[0]]

pairs

[('Delhi', 'D'), ('Bhopal', 'B')]

In [12]:
pairs = [(city,letter) for city in ['Pune','Delhi'] for letter in ['A','B']]

pairs

[('Pune', 'A'), ('Pune', 'B'), ('Delhi', 'A'), ('Delhi', 'B')]

In [15]:
print("-----")

-----

In [289]:
game_list = [0,1,2]

In [294]:
def game_input():
    x = False

    while x == False:
        user_input = input("Enter numbers between 0 and 3: ")
        integer_check = user_input.isdigit()
        if integer_check == False or int(user_input) not in range(0,3):
            print("You have entered an incorrect number")
        else:
            integer_convert = int(user_input)
            x = True
    
    return integer_convert

In [295]:
index_value = game_input()

Enter numbers between 0 and 3:  J

You have entered an incorrect number

Enter numbers between 0 and 3:  1

In [291]:
def update_value():
    input_value = input("Enter the replacement value: ")
    game_list[index_value] = input_value
    return print(game_list)

In [262]:
updated_list = update_value()

Enter the replacement value:  j

[0, 'j', 2]

In [298]:
def game_continue():
    game_on = True
    accepted_inputs = ['Y','N']
    while game_on == True:
        input_continue = input("Do you want to continue? (Y/N) ")
        if input_continue not in accepted_inputs:
            print ("Put acceptable inputs")
        elif input_continue == 'Y':
            return True
        elif input_continue == 'N':
            return False
            break
    return game_on

In [299]:
game_on_choice = game_continue()

Do you want to continue? (Y/N)  Y

In [293]:
game_on_choice = True
game_list = [0,1,2]

while game_on_choice == True:
    index_value = game_input()
    updated_list = update_value()
    game_on_choice = game_continue()

Enter numbers between 0 and 3:  1
Enter the replacement value:  j

[0, 'j', 2]

Do you want to continue? (Y/N)  N

False

In [306]:
i = 1

while i<=5:
    x = i*"*"
    i += 1
    print(x)

*
**
***
****
*****

In [307]:
class Dog():
    def __init__(self,breed,name,age):
        self.breed = breed
        self.name = name
        self.age = age

In [308]:
my_dog = Dog(breed = 'Huskie', name = 'Rusty', age = 25)

In [312]:
my_dog.breed

'Huskie'

In [349]:
class Counter():
    def __init__(self, start=0):
        self.start = start
    def inc(self):
        self.start += 1
    def dec(self):
        self.start -= 1
    def get(self):
        self.start

In [350]:
x = Counter(start=0)

In [352]:
x.inc()
x.dec()
x.get()
x.start

2

In [363]:
class Circle():

    pi = 3.14

    def __init__(self,radius=1):

        self.radius = radius

    def area(self):
        area = (self.radius**2) * self.pi
        return area

    def circumfrence(self):
        circumfrence = 2* self.radius * self.pi
        return circumfrence

In [370]:
circle_area = Circle(radius = 10)

print(f"Your area is: ",circle_area.area())
print(f"Your circ is: ",circle_area.circumfrence())

Your area is:  314.0
Your circ is:  62.800000000000004

In [373]:
class Animal():

    def __init__(self):
        print("Animal Created")

    def who_am_i(self):
        print("I am an animal")

    def eat(self):
        print("I am eating")

In [374]:
class Dog(Animal):

    def __init__(self):
        Animal.__init__(self)
        print("Dog Created")

In [383]:
my_dog = Dog()

my_dog.who_am_i

Animal Created
Dog Created

In [384]:
class Animal():
    
    def __init__(self,name):
        self.name = name

    def info(self):
        return f"Name: {self.name}"

In [409]:
class Dog(Animal):
    def __init__(self,name,breed):
        super().__init__(name)
        self.breed = breed

    def breed_name(self, breed):
        return f"Breed: {self.breed} and Name: {self.name}"

In [410]:
dog_name= Dog("Rocky","Huskie")

print(dog_name.info())
print(dog_name.breed_name("Huskie"))

Name: Rocky
Breed: Huskie and Name: Rocky

In [414]:
class Vehicle():
    def __init__(self, make, model):
        self.make = make
        self.model = model

    def label(self):
        return f"{self.make}|{self.model}"

In [418]:
class Car(Vehicle):

    def __init__(self, make, model, doors):
        super().__init__(make,model)
        self.doors = doors
        
    def label(self):
        return f"{self.make}•{self.model}•{self.doors}"

In [420]:
car_label = Car("Mercedes","Z Class","Double Door")

car_label.label()

'Mercedes•Z Class•Double Door'

In [431]:
class Bike(Vehicle):
    def __init__(self,model,bike,make):
        super().__init__(model,make)
        self.bike = bike

    def label(self):
        return f"{self.model}•{self.bike}•{self.make}"

In [432]:
bike_label = Bike("Honda", "Kawasaki","2005")

bike_label.label()

'2005•Kawasaki•Honda'

In [433]:
class BankAccount():
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self,amount):
        return self.balance + amount

In [456]:
bank_balance = BankAccount("Rakshit",5000)

real_balance = bank_balance.deposit(10000)

In [457]:
class SavingsAccount(BankAccount):
    def __init__(self,owner,balance=0,rate = 0.05):
        super().__init__(owner,balance)
        self.rate = rate

    def add_interest(self):
        return self.balance * self.rate

In [458]:
interest_rate = SavingsAccount("Rakshit",real_balance)

interest_rate.add_interest()

750.0

In [461]:
class BankAccount():
    def __init__(self,owner,balance = 0):
        self.owner = owner
        self.balance = balance

    def summary(self):
        return f"{self.owner}: {self.balance}"

In [474]:
class SavingsAccount(BankAccount):
    def __init__(self, owner, balance = 0, rate = 0.05):
        super().__init__(owner, balance)
        self.rate = rate

    def summary(self):
        return f"{self.owner}: {self.balance} @ {self.rate*100}%: Interest accumulated: {self.balance * self.rate}"

In [475]:
accounts = [BankAccount("R", 15000), SavingsAccount("V",10000)]

for a in accounts:
    print(a.summary())

R: 15000
V: 10000 @ 5.0%: Interest accumulated: 500.0

In [481]:
class FixedDeposit(BankAccount):
    def __init__(self, owner, balance = 0, rate = 0.10, months = 0):
        super().__init__(owner, balance)
        self.rate = rate
        self.months = months

    def summary(self):
        return f"{self.owner}: {self.balance} @ {self.rate*100}%: Interest accumulated: {self.balance * self.rate}: Months: {self.months}"

In [487]:
accounts = [BankAccount("R", 15000), SavingsAccount("V",10000), FixedDeposit("M", 100000, 0.03)]

for a in accounts:
    print(a.summary())

R: 15000
V: 10000 @ 5.0%: Interest accumulated: 500.0
M: 100000 @ 3.0%: Interest accumulated: 3000.0: Months: 0

In [488]:
def show_summary(account):
    return print(account.summary())

In [489]:
b1 = BankAccount("R", 15000)
s1 = SavingsAccount("V",10000)
f1 = FixedDeposit("M", 100000, 0.03)

print(b1.summary())
print(s1.summary())
print(f1.summary())

R: 15000
V: 10000 @ 5.0%: Interest accumulated: 500.0
M: 100000 @ 3.0%: Interest accumulated: 3000.0: Months: 0

In [517]:
class Shape():
    def area(self):
        raise NotImplementedError("Subclass must implement this method")

In [518]:
class Circle(Shape):

    pi = 3.14
    
    def __init__(self, radius=0):
        self.radius = radius

    def area(self):
        return (self.radius ** 2)* self.pi

In [519]:
class Rectangle(Shape):
    def __init__(self, width=0, height=0):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

In [520]:
class Triangle(Shape):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def area(self):
        return 0.5 * self.base * self.height

In [521]:
def show_area(final):
    return print(f"Area: {final.area()}")

In [522]:
area_circle = Circle(5)
area_rectangle = Rectangle(5,10)
area_triangle = Triangle(10,4)

show_area(area_circle)
show_area(area_rectangle)
show_area(area_triangle)

Area: 78.5
Area: 50
Area: 20.0

In [523]:
show_area = [Circle(5), Rectangle(5,10), Triangle(10,4)]

for a in show_area:
    print(f"Area: {a.area()}")

Area: 78.5
Area: 50
Area: 20.0

In [538]:
class Notification():
    def __init__(self, message):
        self.message = message
        # raise NotImplementedError("Subclass must implement this method")

In [539]:
class EmailNotification(Notification):
    def __init__(self, message, method = "Email"):
        super().__init__(message)
        self.method = method

    def send(self):
        print(f"Sending {self.method}: {self.message}")

In [540]:
email = EmailNotification("Hi")

email.send()

Sending Email: Hi

In [541]:
class SMSNotification(Notification):
    def __init__(self, message, method = "SMS"):
        super().__init__(message)
        self.method = method

    def send(self):
        print(f"Sending {self.method}: {self.message}")

In [542]:
sms = SMSNotification("Hi")

sms.send()

Sending SMS: Hi

In [543]:
class PushNotification(Notification):
    def __init__(self, message, method = "Push"):
        super().__init__(message)
        self.method = method

    def send(self):
        print(f"Sending {self.method}: {self.message}")

In [544]:
push = PushNotification("Hi")

push.send()

Sending Push: Hi

In [549]:
def notify(channel):
    return channel.send()

In [555]:
push_1 = PushNotification("Hi")
sms_1 = SMSNotification("Hello")
email_1 = EmailNotification("Heilo")

notify(push_1)
notify(email_1)
notify(sms_1)

Sending Push: Hi
Sending Email: Heilo
Sending SMS: Hello

In [7]:
def ask_for_input():
    while True:
        try:
            result = int(input("Enter a number: "))
        except:
            print("This is not a number")
            continue
        else:
            print("It is a number")
            break
        finally:
            print("I will print no matter what")

In [8]:
ask_for_input()

Enter a number:  q

This is not a number
I will print no matter what

Enter a number:  10

It is a number
I will print no matter what

In [14]:
#Handle the exception thrown by the code below by using try and except blocks.


for i in ['a','b','c']:
    try:
        print(i**2)

    except TypeError:
        print('This is a type error')

This is a type error
This is a type error
This is a type error

In [15]:
#Handle the exception thrown by the code below by using try and except blocks. Then use a finally block to print 'All Done.'



x = 5
y = 0

try:
    z = x/y
except ZeroDivisionError:
    print("This is a ZeroDivisionError")
finally:
    print("All Done")

This is a ZeroDivisionError
All Done

In [26]:
#Write a function that asks for an integer and prints the square of it. 
#Use a while loop with a try, except, else block to account for incorrect inputs.


def ask():
    while True:
        try:
            input_num = int(input("Give a number to square: "))
            return input_num**2
        except ValueError:
            print("This is probably not a number")
            continue
        else:
            print("All Done")
            break
            break

In [29]:
ask()

Give a number to square:  190000000000000000

36100000000000000000000000000000000

In [46]:
def read_file():

    file_name = input("Enter a file name: ")

    
    try:
        f = open(file_name, "r")
        content = f.read()
        print(content)
    except FileNotFoundError:
        print("File Not Found Error")
    except:
        print("Something is wrong")
    finally:
        print("Execution Complete")

In [47]:
read_file()

Enter a file name:  f

File Not Found Error
Execution Complete

In [98]:
def divide(a,b):

    class NegativeNumberError(Exception): pass
    try:
        if a < 0 or b<0:
            raise NegativeNumberError()
        division = a/b
        return division
    except ZeroDivisionError:
        print("Zero Division Error, can't do it!")
    except NegativeNumberError:
        print("Negative number not allowed")

In [99]:
divide(10,0)

Zero Division Error, can't do it!

In [100]:
divide(5,2)

2.5

In [102]:
divide(-2,0)

Negative number not allowed