In [16]:
email = "rakshit@domain.com"
email[0]+len(email[-17:-12])*"*"+email[-12]+"@domain.com"

'r*****t@domain.com'

In [22]:
email = "rakshit@domain.com"

split_email = email.split("@")

split_email_1 = (len(split_email[0])-2)*"*"

split_email_2 = split_email[1]

masked_email = split_email[0][0] + split_email_1 + split_email[0][-1] +"@" + split_email_2

print(masked_email)

r*****t@domain.com

In [24]:
name = "RAKSHIT"

name.lower()

'rakshit'

In [35]:
state = " Hello, Rakshit "

new_state = state.strip()

print(new_state.lower())

hello, rakshit

In [39]:
title = "product-manager"

title_split = title.split("-")[0] + " | " + title.split("-")[1]

print(title_split)

product | manager

In [54]:
word = "Pythone"

remainder = len(word) % 2
remainder_odd = len(word)-1

if remainder == 0:
    print(word[len(word)//2] + word[len(word)//2-1])
else:
    print(word[remainder_odd//2])

h

In [59]:
input = "rakshit lodha"

split_view = input.split(" ")

joined_view = split_view[0][0].upper() +"." + split_view[1][0].upper() + "."

print(joined_view)

R.L.

In [72]:
str = "This   has   extra   spaces"

" ".join(str.split())

'This has extra spaces'

In [8]:
str = "This bad habit is bad but badminton is good"

str_split_1 = (str.split(" ")[1]).replace(str.split(" ")[1],"***")
str_split_2 = (str.split(" ")[4]).replace(str.split(" ")[4],"***")

final = str.split(" ")[0] + str_split_1 + str.split(" ")[2] + str.split(" ")[3] + str_split_2 + str.split(" ")[5] + str.split(" ")[6]

print(final)

This***habitis***butbadminton

In [2]:
email = "  First.Last+promo@Example.COM  "

split_1 = email.split("@")[-1].lower()
split_2 = (email.split("@")[0]).split("+")[0].lower()
split_3 = split_2 +"@" +split_1

joined_view = ''.join(split_3.split())

print(joined_view)

first.last@example.com

In [22]:
user = {"name": "Rakshit", "role": "PM"}

user["company"] = "ET Money"

user.popitem()


print(user)

{'name': 'Rakshit', 'role': 'PM'}

In [30]:
product = {"name": "Notebook", "price": 299, "stock": 12}
# a) get the price using direct indexing
product.get("price")

# b) safely get a "discount" key with default 0 using .get
product["discount"] = 0
print(product)

product.get("discount")

# c) add a "category" = "Stationery", then print the dict
product["category"] = "Stationery"
print(product)

{'name': 'Notebook', 'price': 299, 'stock': 12, 'discount': 0}
{'name': 'Notebook', 'price': 299, 'stock': 12, 'discount': 0, 'category': 'Stationery'}

In [1]:
product = {"name": "Notebook", "price": 299, "stock": 12}


# a) get the price using direct indexing

print(product["name"])

# b) safely get a "discount" key with default 0 using .get
print(product.get("discount",0))

print("name" in product)

# c) add a "category" = "Stationery", then print the dict

Notebook
0
True

In [12]:
product = {"name": "Notebook", "price": 299, "stock": 12, "category": "Stationery"}

#Update the "price" to 349.
product.update({"price": 349})

print(product)

# Add two more keys at once — "brand": "Camlin" and "rating": 4.5" — using .update().

product.update({"brand": "camline", "rating": 4.5})
print(product)

#Remove "stock" safely (no error if it’s missing).

product.pop("stock", 0)
print(product)

{'name': 'Notebook', 'price': 349, 'stock': 12, 'category': 'Stationery'}
{'name': 'Notebook', 'price': 349, 'stock': 12, 'category': 'Stationery', 'brand': 'camline', 'rating': 4.5}
{'name': 'Notebook', 'price': 349, 'category': 'Stationery', 'brand': 'camline', 'rating': 4.5}

In [35]:
student = {
    "name": "Anita",
    "grade": 10,
    "marks": {
        "math": 88,
        "science": 92,
        "english": 81
    }
}


#Access the student’s science mark and print it.
print(student["marks"]["science"])
print((student.get("marks")).get("science"))

#Update the English mark to 90.
student["marks"].update({"english": 90})

print(student.get("marks"))

#Add a new subject "history": 85.
student["marks"].update({"history": 85})

print(student)

#Print the final dictionary.
print(student)

92
92
{'math': 88, 'science': 92, 'english': 90}
{'name': 'Anita', 'grade': 10, 'marks': {'math': 88, 'science': 92, 'english': 90, 'history': 85}}
{'name': 'Anita', 'grade': 10, 'marks': {'math': 88, 'science': 92, 'english': 90, 'history': 85}}

In [43]:
t = ("Rakshit", 30, {"city": "Jaipur"})
# A) Print the name (index it)
print(t[0])

# B) Change the city to "Mumbai" (mutate the inner dict), then print t
t[2].update({"city": "Mumbai"})

Rakshit
('Rakshit', 30, {'city': 'Mumbai'})

In [48]:
student = {
    "name": "Anita",
    "grade": 10,
    "marks": {"math": 88, "science": 92, "english": 90}
}

li = student.get("marks")

print(li)

li_1 = list(li.items())
print(li_1)

li_1.append(("physics", 100))

print(li_1)
back_dic = dict(li_1)
print(back_dic)

{'math': 88, 'science': 92, 'english': 90}
[('math', 88), ('science', 92), ('english', 90)]
[('math', 88), ('science', 92), ('english', 90), ('physics', 100)]
{'math': 88, 'science': 92, 'english': 90, 'physics': 100}

In [54]:
(a,b) = 10,20

(a,b) = (b,a)
print((a,b))

(20, 10)

In [58]:
names = ["rakshit", "anita", "rakshit", "mukesh", "anita"]

name_1 = sorted(set(names))

print(name_1)

['anita', 'mukesh', 'rakshit']

In [79]:
A = {"python", "sql", "excel", "git"}
B = {"python", "pandas", "git", "jira"}

set_a = set(A)
set_b = set(B)

print(set_a)
print(set_b)

#Skills in both A and B (intersection)
set_c = set_a & set_b
print(set_c)

#Skills in either A or B (union)
set_d = set_a | set_b
print(set_d)

#Skills in A but not in B (difference)
set_e = set_a - set_b
print(set_e)

#Skills in exactly one of the sets (symmetric diff)
set_f = set_a ^ set_b
print(set_f)

print(bool(set_a <= set_b))
print(bool(set_a >= set_b))
print(bool(set_a & set_b))


print(bool({"python", "git"} <= set_a))
print(bool({"python", "git", "excel"} <= set_b))
print(sorted(set_f))

{'excel', 'python', 'sql', 'git'}
{'git', 'python', 'jira', 'pandas'}
{'git', 'python'}
{'git', 'python', 'jira', 'sql', 'excel', 'pandas'}
{'excel', 'sql'}
{'jira', 'sql', 'excel', 'pandas'}
False
False
True
True
False
['excel', 'jira', 'pandas', 'sql']

In [54]:
score = 59

if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >=70:
    grade = "C"
elif score >=60:
    grade = "D"
else:
    grade = "F"

print(grade)

f

In [55]:
n = 27

if n%2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [57]:
n = 27
parity = "Even" if n%2 == 0 else "Odd"

print(parity)

Odd

In [59]:
num = list(range(5,15,2))

print(num)

[5, 7, 9, 11, 13]

In [61]:
text = "Product Manager"
has_pm = "pm" in text.lower()

print(has_pm)

False

In [62]:
skills = ["python","sql","git"]
print(list(enumerate(skills)))

[(0, 'python'), (1, 'sql'), (2, 'git')]

In [65]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

In [67]:
num = list(range(1,6))

for i in num:
    print(i)

1
2
3
4
5

In [72]:
num = list(range(1,11))

for i in num:
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [73]:
for i in range(1,11):
    if i<5:
        print(i)
    elif i==5:
        continue
    elif i<8:
        print(i)
    elif i==8:
        break

1
2
3
4
6
7

In [77]:
nums = [3, 6, 9, 12]
target = 7

for i in nums:
    if i == target:
        print("You belong here")
        break
else:
    print("You don't belong here")

You don't belong here

In [91]:
nums = [12, 47, 51, 38, 64, 29]

for num in nums:
    if num > 50 and num %2 == 0:
        print("found: " + str(num))
        break
else:
     print("No")

found: 64

In [95]:
nums = [12, 47, 51, 38, 64, 29]
found = any(x>50 and x%2 ==0 for x in nums )
print(found)

True

In [125]:
nums = [12, 47, 51, 38, 64, 29]

hits = []

for i in nums:
    if i <50 and i%2 == 0:
        hits.append(i)

print(hits)

[12, 38]

In [133]:
nums = [3, -2, 7, 0, -5, 10]

positive = []

for i in nums:
    if i > 0:
        y = i*i
        positive.append(y)

print(positive)

total = 0

for p in positive:
    total += p

print(total)

[9, 49, 100]
158

In [137]:
nums = [3, -2, 7, 0, -5, 10]

positive = []
total = 0

for i in nums:
    if i > 0:
        y = i*i
        positive.append(y)
        total += y
print(total)

[9, 49, 100]
158

In [ ]:
*
**
***
****
*****

In [143]:
words = [" python ", "Data", "pip", "set", "Pandas"]
clean = []

for i in words:
    y = i.strip()
    x = y.lower()
    clean.append(x)

print(clean)

['python', 'data', 'pip', 'set', 'pandas']

In [148]:
i = 6

while i > 1:
    i -=1
    print(i)

print("Go")

5
4
3
2
1
Go

In [182]:
data = [3, 5, 9, -1, 7, 8]

# while i < len(data) and data[i]>0:
#     print(i)

# Print each number until you hit a negative, then stop (don’t print the negative or anything after).

for i in data:
    if i >0:
        print(i)
    else:
        break

3
5
9

In [176]:
data = [3, 5, 9, -1, 7, 8]

i = 0

while i<=len(data) and data[i] >0:
    print(data[i])
    i +=1

3
5
9

In [185]:
# Given nums = [4, 9, 12, 7, 18, 3], use while to find the index of the first number divisible by 3. If none, print -1.


nums = [4, 9, 12, 7, 18, 3]

for i in nums:
    if i%3 == 0:
        print(i)
        break

9

In [16]:
nums = [5, 7, 13, 7, 19, 2]

i = 0

while i < len(nums):
    if nums[i] % 3 == 0:
        print(nums[i])
        break
    i +=1
else:
    print(-1)

-1

In [40]:
s = "Room 21 on 3 rd floor, code 9042"

words = s.split()

print(words)

x = 0

for i in words:
    if i.isdigit() == True:
        x +=1

print(x)

['Room', '21', 'on', '3', 'rd', 'floor,', 'code', '9042']
3

In [48]:
s = "Room 21 on 3 rd floor, code 9042"

x = 0
i = 0

while i < len(s):
    if s[i].isdigit() == True:
        x+=1
    i +=1

print(x)

7

In [1]:
num = 10

ans = 1

while num>1:
    ans *= num
    num = num - 1
    
print(ans)

3628800

In [18]:
word = "python"
rev = ""
i = len(word) - 1

while i>=0:
    letter = word[i]
    rev = rev + letter
    i = i - 1

print(rev)

nohtyp

In [25]:
word = "python"
rev = ""
i = len(word)-1

while i>=0:
    letter = word[i]
    rev = rev + letter
    i = i - 1

print(rev)

nohtyp

In [65]:
word = "python"
positions = []

for i in word:
    if len(word)>=0:
        positions.append(i)

enumerate_list = list(enumerate(positions))
print(enumerate_list)

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [77]:
word = "python"
positions = []

i = 0

while len(word)>=0 and i < len(word):
    positions.append(word[i])
    i += 1

print(list(enumerate(positions)))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [78]:
word = "python"
positions = []

for i in word:
    if len(word)>=0:
        positions.append(i)

enumerate_list = list(enumerate(positions))
print(enumerate_list)

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [83]:
# target shape: {'p': 0, 'y': 1, 't': 2, 'h': 3, 'o': 4, 'n': 5}
positions = {}
x = 0

for i in word:
    if len(word)>=0:
        positions.update({i:x})
        x +=1

print(positions)

{'p': 0, 'y': 1, 't': 2, 'h': 3, 'o': 4, 'n': 5}

In [89]:
word = "banana"
positions = {}

i = 0
x = 0

while len(word)>=0 and i < len(word):
    letter = word[i]
    positions.update({letter:x})
    i += 1
    x += 1

print(positions)
# print(list(enumerate(positions)))

{'b': 0, 'a': 5, 'n': 4}

In [95]:
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

In [97]:
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [98]:
i = 1

while i<=5:
    print(i*"*")
    i +=1

*
**
***
****
*****

In [106]:
i = 2

while i>=0:
    print(i*"*")
    i -= 1

**
*

In [107]:
[x*x for x in [1,2,3]]

[1, 4, 9]

In [115]:
nums = [3, -2, 7, 0, -5, 10]

nums_output = [i * i for i in nums if i > 0 and i%2 == 0]

print(nums_output)

[100]

In [119]:
emails = ["a@x.com","b@y.org","c@z.net"]

email_split = [i.split("@")[1] for i in emails]

print(email_split)

['x.com', 'y.org', 'z.net']

In [121]:
words = ["Alpha", "be", "see", "Dee"]

word_dic = {i.lower():len(i) for i in words}

print(word_dic)

{'alpha': 5, 'be': 2, 'see': 3, 'dee': 3}

In [150]:
emails = ["a@x.com","b@y.org","c@z.net","d@x.com","e@y.org","f@x.com"]

emails_split = [i.split("@")[1] for i in emails]

emails_dic = {x:sum(1 for y in email_split if y == email_split) for x in emails_split}

print(emails_dic)

{'x.com': 0, 'y.org': 0, 'z.net': 0}

In [137]:
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']

word_dic = {}

for i in words:
    if i in word_dic:
        word_dic[i] += 1
    else:
        word_dic[i] = 1

print(word_dic)

{'apple': 2, 'banana': 3, 'orange': 1}

In [147]:
emails = ["a@x.com","b@y.org","c@z.net","d@x.com","e@y.org","f@x.com"]

email_list = []

for i in emails:
    x = i.split("@")[1]
    email_list.append(x)

email_count = {}

for i in email_list:
    if i in email_count:
        email_count[i] += 1
    else:
        email_count[i] = 1

print(email_count)

{'x.com': 3, 'y.org': 2, 'z.net': 1}

In [5]:
def clips(x, lo, high):
    if x < lo:
        return lo
    elif x > high:
        return high
    else:
        return x

print(clips(5,0,10))
print(clips(-3,0,10))
print(clips(99, 0, 10))

5
0
10

In [12]:
def greet(name = "there"):
    return "Hi " + name

print(greet("Rakshit"))
print(greet())

Hi Rakshit
Hi there

In [19]:
def powerbase(base, power):
    return base ** power


print(powerbase(2,3))
print(powerbase(power=5, base=3))

8
243

In [24]:
def join3(a, b, c, sep="-"):
    return f"{a}{sep}{b}{sep}{c}"

print(join3("A","B", "C", sep = "|"))
print(join3("A","B", "C"))

A|B|C
A-B-C

In [25]:
def total(*nums):
    return sum(nums)

total(1,2,3,4)

10

In [30]:
def concat_part(*parts):
    return " ".join(parts)

concat_part("learn","python", "fast")

'learn python fast'

In [31]:
def square(n):
    return n**2

print(square(5))

25

In [33]:
def is_even(num):
    if num % 2 == 0:
        return "Its Even!"
    else:
        return "Its Odd"

print(is_even(4))

Its Even!

In [69]:
def is_vowel(word):
    x = word.lower()
    vowel = ["a", "e", "i", "o", "u"]
    y = []
    counter = 0
    for i in x:
        if len(x)>=0:
            y.append(i)

    for z in y:
        if z in vowel:
            counter += 1

    return counter
            

print(is_vowel("HEAAT"))

3

In [72]:
def greetings(name = "there"):
    return f"Hi {name}"

greetings()

'Hi there'

In [74]:
def join3(a, b, c, sep = "-"):
    return f"{a}{sep}{b}{sep}{c}"

join3(5,4,1, "|")

'5|4|1'

In [91]:
def slugify(text, sep="-"):
    
    y = sep.join((text.lower()).split())
    # x = sep.join(y)

    return f"{y}"

print(slugify(" This is test "))

this-is-test

In [92]:
def total(*nums):
    return sum(nums)

total(1,5,6)

12

In [106]:
def product(*nums):
    p = 1
    for i in nums:
        p *= i
        
    return p

print(product(2,3,4,5,6))

720

In [107]:
def concat(sep, *word):
    return sep.join(word)

print(concat(" ", "word1", "word2"))

word1 word2

In [9]:
def user_format(name, **info):
    profile = {"name":name}
    profile.update(info)
    return profile

print(user_format("Rakshit", team = "Data Science"))
print(user_format("Anita", team = "Data Science"))


#Kwargs: the **info parameter will keep on updating as and when you add other details. 
#And all will get combined into one dictionary

{'name': 'Rakshit', 'team': 'Data Science'}
{'name': 'Anita', 'team': 'Data Science'}